<h1>Books</h1>
<% @book.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= attachment_image_tag @user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %></p>
  <p>name : <%= book.title %></p>
  <p>Opinion : <%= book.body %></p>
</div>
<% end %>
