<h1>New books</h1>

<%= render 'layouts/sidebar', user: @user, book: @book %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= attachment_image_tag book.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
  <p>Title：<%= link_to book.title, book_path(book.id) %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>

