

<%= render 'layouts/sidebar', user: @user, book: @book %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <%= link_to attachment_image_tag(book.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg"),user_path(book.user.id) %>
  <p>Title：<%= link_to book.title, book_path(book.id) %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>

